
<div *ngIf="carregando" class="progress">
    <div class="indeterminate"></div>
  </div>

  <h6 *ngIf="!Jogador && carregando">Não há Jogadores cadastrados</h6>

  <div *ngIf="!carregando">
    <h6 align="center">Jogadores cadastrados</h6>

    <table> 
      <thead>
        <tr>
          <th>Nome</th>
          <th>Posição</th>
          <th>Time</th>
          <th>Idade</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let jogador of jogadores">
          <td>
            <span *ngIf="!jogador.editando">{{jogador.nome}}</span>
            <input *ngIf="jogador.editando" type="text" [(ngModel)]="jogador.nome" name="nome-{{jogador.uid}}">
          </td>
          <td>
          <span *ngIf="!jogador.editando">{{jogador.posicao}}</span>
              <input *ngIf="jogador.editando" type="text" [(ngModel)]="jogador.posicao" name="posicao-{{jogador.uid}}">
         </td>
         <td>
          <span *ngIf="!jogador.editando">{{jogador.time}}</span>
          <input *ngIf="jogador.editando" type="text" [(ngModel)]="jogador.time" name="time-{{jogador.uid}}">
        </td>
        <td>
        <span *ngIf="!jogador.editando">{{jogador.idade}}</span>
            <input *ngIf="jogador.editando" type="text" [(ngModel)]="jogador.idade" name="idade-{{jogador.uid}}">
       </td>
            <td *ngIf="!jogador.editando" class="remove-parent">
            <a class="edit-parent" (click)="editar(jogador)" href="javascript:void(0);">
              <i class="material-icons">edit</i>
            </a>
            <a (click)="remover(jogador.uid)" href="javascript:void(0);">
              <i class="material-icons">delete</i>
            </a>
          </td>
          <td *ngIf="jogador.editando" class="remove-parent">
              <a class="confirm-parent" (click)="confirmEdit(jogador)" href="javascript:void(0);">
                <i class="material-icons">check</i>
              </a>
              <a (click)="cancelEdit(jogador)" href="javascript:void(0);">
                <i class="material-icons">close</i>
              </a>
            </td>
        </tr>
      </tbody>
    </table>
  </div>